@page
@model HotelCheckIn.Web.Pages.Guests.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Guest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.PersonalId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.PersonalId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.CheckIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.CheckIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.CheckOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.CheckOut)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Guest?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
